body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f8ff;
  }
  
  .welcome-container {
    text-align: center;
  }
  
  .welcome-image {
    max-width: 80%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .enter-button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
  }  

body {
    font-family: Garamond, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ff865c;
  }
  
  h1 {
    color: #333;
  }
  
  form, #gift-ideas {
    max-width: 300px;
    width: 100%;
    margin: 20px;
  }

  select, input, button {
    width: 100%; /* Chaque champ prendra 100% de la largeur du formulaire */
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box; /* Inclure le padding dans la largeur totale */
  }
  
  button {
    cursor: pointer; /* Change le curseur pour indiquer qu'il s'agit d'un bouton cliquable */
  }
  
  textarea {
    width: 100%; /* Pour s'assurer que le champ d'idées cadeaux est également uniforme */
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
  }